#algorithm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding: 0 20px;
}

#algorithm .a-info {
    max-width: 520px;
    width: 100%;
}

#algorithm .a-info .a-info-header{
    display: block;
}

#algorithm .a-info .a-info-header i{
    display: none;
}

#algorithm form{
    max-width: 340px;
    width: 100%;
    margin-left: 30px;
}

#algorithm h1, #algorithm p{
    text-align: left;
}

#algorithm .a-info-header{
    margin-bottom: 30px;
}

#algorithm h1{
    font-size:20px;
    line-height: 24px;
}

#algorithm p{
    font-size:12px;
    line-height: 18px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
    #algorithm {
        flex-direction: column;
    }
    #algorithm .a-info {
        max-width: none;
        width: 100%;
    }
    #algorithm form {
        max-width: none;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #algorithm .a-info .a-info-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #algorithm .a-info .description { 
        opacity: 0; 
        visibility: hidden;
        transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        height: 0px;
    }

    #algorithm .a-info .a-info-header i{
        display: block;
        border: solid #888888;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 6px;
        margin: 6px 6px 0 0;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        cursor: pointer;
        
        transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
    }
    
    #algorithm .a-info.show .description { 
        visibility: visible; 
        opacity: 1; 
        height: 100%;
    }

    #algorithm .a-info.show .a-info-header i{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}